.DS_Store
.DS_Store
.DS_Store
order_app/.dart_tool/
admin_app/.dart_tool/
kitchen_app/.dart_tool/

order_app/.packages
admin_app/.packages
kitchen_app/.packages
order_app/.pub/
admin_app/.pub/
kitchen_app/.pub/

order_app/build/
admin_app/build/
kitchen_app/build/

order_app/.flutter-plugins
admin_app/.flutter-plugins
kitchen_app/.flutter-plugins
